<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tab 0 - Login</ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 0 - Login</ion-title>
    </ion-toolbar>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  </ion-header>

  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <ion-list>
          <!-- Item Email -->
          <ion-item>
            <ion-input 
              labelPlacement="stacked" 
              label="Correo Electronico" 
              placeholder="BloodPoint@domain.com"
              [(ngModel)]="credentials.email"
              name="email"
              type="email"
              #email="ngModel"
              required>
            </ion-input>
          </ion-item>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
            <ion-text color="danger">Email es requerido</ion-text>
          </div>

          <!-- Item Password -->
          <ion-item>
            <ion-input 
              labelPlacement="stacked" 
              type="password" 
              label="Contraseña"
              [(ngModel)]="credentials.contrasena"
              name="contrasena"
              #password="ngModel"
              required>
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
            <ion-text color="danger">Contraseña es requerida</ion-text>
          </div>
        </ion-list>
        
        <!-- Item Boton Iniciar Sesion -->
        <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">
          Iniciar Sesion
        </ion-button>
        
        <!-- Item Nav/Routerlink -->
        <div style="display: flex; justify-content: center; gap: 16px; margin-top: 16px;">
          <ion-button [routerLink]="['/tabr']" fill="clear">Registrarse</ion-button>
          <ion-button fill="clear">Recuperar Contrasena</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
