<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>ChatBot Diagflow IA</ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</ion-header>

<ion-content [fullscreen]="true">
  <div class="chat-container">
    <!-- Item | Boton para volver a la pag anterior -->
    <div class="header-section">
      <ion-back-button defaultHref="/menu/ayudabp" text="" icon="arrow-back"></ion-back-button>
      <h1>Chat automatizado</h1>
    </div>

    <!-- Item | Lista pregunta ejemplos -->
    <div class="questions-list">
      <div class="question-bubble" style="background-color: #fff2f2;">
        <span style="color: grey;" >¿Quien puede donar sangre?</span>
      </div>

      <div class="question-bubble" style="background-color: #fff2f2;">
        <span style="color: grey;" >¿Cuánto debo esperar entre donaciones?</span>
      </div>

      <div class="question-bubble" style="background-color: lightcoral;">
        <span style="color: aliceblue;" >¿Es seguro donar sangre?</span>
      </div>

      <div class="question-bubble" style="background-color: lightcoral;">
        <span style="color: aliceblue;" >¿Qué debo hacer después de donar?</span>
      </div>

      <!-- Mensaje Ejemplo  -->
      <div class="bot-message">
        <div class="bot-icon">
          <i class="fas fa-robot"></i>
        </div>
        <div class="message-content">
          <p>¡Hola! ¿Tienes dudas al respecto de la donación de sangre? Házmelo saber aquí para guiarte.</p>
          <p>¿Sabías que una gota de sangre puede salvar una vida?</p>
        </div>
      </div>
    </div>

    <!-- Chatbox -->
    <div class="input-area">
      <ion-input placeholder="Escribe un mensaje" class="message-input"></ion-input>
      <ion-button class="send-button" color="light">
        Enviar
      </ion-button>
    </div>
  </div>
</ion-content>
