<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tab 4 - Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 4 - Perfil</ion-title>
    </ion-toolbar>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  </ion-header>

  <!-- Item Avatar -->
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto" class="ion-text-center">
        <h1>Perfil</h1>
        <ion-avatar class="static-avatar">
          <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Item Perfil -->
  <ion-grid [fixed]="true">
    <ion-list>
        <!-- Item Editar Perfil -->
        <ion-item button [routerLink]="['/tabs/tabedit']">
          <ion-thumbnail slot="start">
            <div class="custom-thumbnail">
              <i class="fa-solid fa-wrench"></i>
            </div>
          </ion-thumbnail>
          <ion-label>
            <p><strong>Editar Perfil</strong></p>
          </ion-label>
        </ion-item>
      <!-- Item Historial -->
      <ion-item button [routerLink]="['/tabs/tabh']">
        <ion-thumbnail slot="start">
          <div class="custom-thumbnail">
            <i class="fa-solid fa-bookmark"></i>
          </div>
        </ion-thumbnail>
        <ion-label>
          <p><strong>Historial de Donaciones</strong></p>
        </ion-label>
      </ion-item>
        <!-- Item Logros -->
      <ion-item button [routerLink]="['/tabs/tabl']">
        <ion-thumbnail slot="start">
          <div class="custom-thumbnail">
            <i class="fa-solid fa-medal"></i>
          </div>
        </ion-thumbnail>
        <ion-label>
          <p><strong>Ver Logros</strong></p>
        </ion-label>
      </ion-item>
        <!-- Item Solicitud Donacion -->
      <ion-item button [routerLink]="['/tabs/tabd']">
        <ion-thumbnail slot="start">
          <div class="custom-thumbnail">
            <i class="fa-solid fa-droplet"></i>
          </div>
        </ion-thumbnail>
        <ion-label>
          <p><strong>Solicitar Donacion</strong></p>
        </ion-label>
      </ion-item>
        <!-- Item Ayuda -->
      <ion-item button [routerLink]="['/tabs/tabb']">
        <ion-thumbnail slot="start">
          <div class="custom-thumbnail">
            <i class="fa-solid fa-circle-info"></i>
          </div>
        </ion-thumbnail>
        <ion-label>
          <p><strong>Ayuda</strong></p>
        </ion-label>
      </ion-item>
        <!-- Item Logout -->
      <ion-item button (click)="cerrarSesion()">
        <ion-thumbnail slot="start">
          <div class="custom-thumbnail">
            <i class="fa-solid fa-right-from-bracket fa-flip-both"></i>
          </div>
        </ion-thumbnail>
      <ion-label>
        <p><strong>Cerrar Sesión</strong></p>
  </ion-label>
</ion-item>
    </ion-list>
  </ion-grid>
</ion-content>
