<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" routerLink="/tabs/tab1">
      <i class="fa-solid fa-house"></i>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" routerLink="/tabs/tab2">
      <i class="fa-solid fa-droplet"></i>
      <ion-label>Donar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" routerLink="/tabs/tab3">
      <i class="fa-solid fa-bell"></i>
      <ion-label>Notificacion</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" routerLink="/tabs/tab4">
      <i class="fa-solid fa-user"></i>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
