<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ayuda BloodPoint</ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ayuda BloodPoint</ion-title>
    </ion-toolbar>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  </ion-header>

  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="8" size-sm="12" class="ion-text-center">
        <ion-list>
          <!-- Header con botón volver -->
          <ion-item lines="none">
            <ion-buttons slot="start">
              <ion-back-button defaultHref="/menu/perfil"></ion-back-button>
            </ion-buttons>
            <ion-label>
              <h1 class="ion-text-center">Ayuda BloodPoint</h1>
            </ion-label>
          </ion-item>
          <!-- Lista de donaciones -->
          <ion-accordion-group>
            <ion-item>
              <ion-thumbnail slot="start">
                <div class="custom-thumbnail">
                  <i class="fa-solid fa-droplet"></i>
                </div>
              </ion-thumbnail>
              <ion-accordion value="first">
                <ion-item slot="header">
                  <ion-label>¿Como funciona la app?</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">Respuesta 1</div>
              </ion-accordion>
            </ion-item>
          </ion-accordion-group>
          <ion-accordion-group>
            <ion-item>
              <ion-thumbnail slot="start">
                <div class="custom-thumbnail">
                  <i class="fa-solid fa-droplet"></i>
                </div>
              </ion-thumbnail>
              <ion-accordion value="first">
                <ion-item slot="header">
                  <ion-label>¿Quien puede donar sangre?</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">Respuesta 2</div>
              </ion-accordion>
            </ion-item>
          </ion-accordion-group>
          <ion-accordion-group>
            <ion-item>
              <ion-thumbnail slot="start">
                <div class="custom-thumbnail">
                  <i class="fa-solid fa-droplet"></i>
                </div>
              </ion-thumbnail>
              <ion-accordion value="first">
                <ion-item slot="header">
                  <ion-label>¿Con que frequencia puedo donar?</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">Respuesta 3</div>
              </ion-accordion>
            </ion-item>
          </ion-accordion-group>
          <ion-accordion-group>
            <ion-item>
              <ion-thumbnail slot="start">
                <div class="custom-thumbnail">
                  <i class="fa-solid fa-droplet"></i>
                </div>
              </ion-thumbnail>
              <ion-accordion value="first">
                <ion-item slot="header">
                  <ion-label>¿Como se si soy compatible con una alerta?</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">Respuesta 4</div>
              </ion-accordion>
            </ion-item>
          </ion-accordion-group>
          <ion-accordion-group>
            <ion-item>
              <ion-thumbnail slot="start">
                <div class="custom-thumbnail">
                  <i class="fa-solid fa-droplet"></i>
                </div>
              </ion-thumbnail>
              <ion-accordion value="first">
                <ion-item slot="header">
                  <ion-label>¿Puedo cancelar una donacion?</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">Respuesta 5</div>
              </ion-accordion>
            </ion-item>
          </ion-accordion-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Item Texto IA -->
  <ion-grid class="ion-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="8" size-sm="12" class="ion-text-center">
        <h3>No encontre mi respuesta</h3>
      </ion-col>
    </ion-row>
    <!-- Item Boton ChatBot -->
    <ion-segment>
      <ion-button type="submit" [routerLink]="['/menu/chatbot']">
        <i class="fa-solid fa-comments" style="margin-right: 8px;"></i>Iniciar ChatBot</ion-button>
    </ion-segment>
  </ion-grid>

</ion-content>
