<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>RUT</ion-label>
        <ion-text>{{ form.rut }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Nombre Completo</ion-label>
        <ion-text>{{ form.nombre_completo }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Sexo</ion-label>
        <ion-text>{{ form.sexo === 'H' ? 'Hombre' : 'Mujer' }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Fecha de Nacimiento</ion-label>
        <ion-text>{{ form.fecha_nacimiento }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Nacionalidad</ion-label>
        <ion-text>{{ form.nacionalidad }}</ion-text>
      </ion-item>

      <ion-item>
        <ion-label>Tipo de Sangre</ion-label>
        <ion-text>{{ form.tipo_sangre }}</ion-text>
      </ion-item>
      
      <!-- Email -->
      <ion-item>
        <ion-input label="Correo electrónico" [(ngModel)]="form.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Dirección" [(ngModel)]="form.direccion" name="direccion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Comuna" [(ngModel)]="form.comuna" name="comuna"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Teléfono" [(ngModel)]="form.fono" name="fono"></ion-input>
      </ion-item>

      <ion-item>
        <ion-checkbox
          [(ngModel)]="form.noti_emergencia"
          name="noti_emergencia"
          labelPlacement="start">
          ¿Deseas recibir notificaciones de emergencia?
        </ion-checkbox>
      </ion-item>

      <ion-button expand="block" (click)="actualizarPerfil()">Guardar Cambios</ion-button>
    </ion-list>
  </ion-card>
</ion-content>
